<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="bb-footer margin-t-50" th:fragment="footer">
      <div class="footer-container">
        <div class="footer-top padding-tb-50">
          <div class="container">
            <div
              class="row m-minus-991"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div class="col-sm-12 col-lg-3 bb-footer-cat">
                <div class="bb-footer-widget bb-footer-company">
                  <img
                    src="/static/assets/img/logo/banksdatabase-128.svg"
                    class="bb-footer-logo"
                    alt="footer logo"
                  />
                  <img
                    src="/static/assets/img/logo/banksdatabase-128-w.svg"
                    class="bb-footer-dark-logo"
                    alt="footer logo"
                  />
                  <p class="bb-footer-detail">
                    Sacabanks là Ngân hàng vật liệu xây dựng đầu tiên với hơn
                    1000 loại sản phảm và 500 công ty đối tác
                  </p>
                  <!-- <div class="bb-app-store">
                                    <a href="javascript:void(0)" class="app-img">
                                        <img src="/static/assets/img/app/android.png" class="adroid" alt="apple">
                                    </a>
                                    <a href="javascript:void(0)" class="app-img">
                                        <img src="/static/assets/img/app/apple.png" class="apple" alt="apple">
                                    </a>
                                </div> -->
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 bb-footer-info">
                <div class="bb-footer-widget">
                  <h4 class="bb-footer-heading">Đường Dẫn</h4>
                  <div class="bb-footer-links bb-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="bb-footer-link">
                        <a href="index.html">Trang chủ</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="shop-banner-left-sidebar-col-3.html"
                          >Danh Mục</a
                        >
                      </li>
                      <li class="bb-footer-link">
                        <a href="shop-full-width-col-5.html">Nhà cung cấp</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="shop-banner-right-sidebar-col-4.html"
                          >Kho hàng</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 bb-footer-account">
                <div class="bb-footer-widget">
                  <h4 class="bb-footer-heading">Sacabanks</h4>
                  <div class="bb-footer-links bb-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="bb-footer-link">
                        <a href="about-us.html">Giới thiệu</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="faq.html">Thông báo pháp lý</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="terms.html">Điều khoản và điều kiện</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="checkout.html">Chính sách thanh toán</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="contact-us.html">Liên hệ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 bb-footer-service">
                <div class="bb-footer-widget">
                  <h4 class="bb-footer-heading">Tài Khoản</h4>
                  <div class="bb-footer-links bb-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="bb-footer-link">
                        <a href="login.html">Đăng nhập</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="cart.html">Giỏ hàng</a>
                      </li>
                      <li class="bb-footer-link">
                        <a href="shop-left-sidebar-col-3.html"
                          >Trở thành nhà cung cấp</a
                        >
                      </li>
                      <li class="bb-footer-link">
                        <a href="product-left-sidebar.html"
                          >Chương trình liên kết</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3 bb-footer-cont-social">
                <div class="bb-footer-contact">
                  <div class="bb-footer-widget">
                    <h4 class="bb-footer-heading">Contact</h4>
                    <div class="bb-footer-links bb-footer-dropdown">
                      <ul class="align-items-center">
                        <li class="bb-footer-link bb-foo-location">
                          <span class="mt-15px">
                            <i class="ri-map-pin-line"></i>
                          </span>
                          <p>
                            28 Thảo Điền, Phường Thảo Điền, TP. Thủ Đức, TP. Hồ
                            Chí Minh.
                          </p>
                        </li>
                        <li class="bb-footer-link bb-foo-call">
                          <span>
                            <i class="ri-whatsapp-line"></i>
                          </span>
                          <a href="tel:+009876543210">+84 98 865 8941</a>
                        </li>
                        <li class="bb-footer-link bb-foo-mail">
                          <span>
                            <i class="ri-mail-line"></i>
                          </span>
                          <a href="mailto:example@email.com"
                            >admin@sacabanks.com</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="bb-footer-social">
                  <div class="bb-footer-widget">
                    <div class="bb-footer-links bb-footer-dropdown">
                      <ul class="align-items-center">
                        <li class="bb-footer-link">
                          <a href="javascript:void(0)"
                            ><i class="ri-facebook-fill"></i
                          ></a>
                        </li>
                        <li class="bb-footer-link">
                          <a href="javascript:void(0)"
                            ><i class="ri-twitter-fill"></i
                          ></a>
                        </li>
                        <li class="bb-footer-link">
                          <a href="javascript:void(0)"
                            ><i class="ri-linkedin-fill"></i
                          ></a>
                        </li>
                        <li class="bb-footer-link">
                          <a href="javascript:void(0)"
                            ><i class="ri-instagram-line"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="bb-bottom-info">
                <div class="footer-copy">
                  <div class="footer-bottom-copy">
                    <div class="bb-copy">
                      Copyright © <span id="copyright_year"></span>
                      <a class="site-name" href="index.html"
                        >Sacabanks V.1.2.1</a
                      >
                      all rights reserved.
                    </div>
                  </div>
                </div>
                <div class="footer-bottom-right">
                  <div
                    class="footer-bottom-payment d-flex justify-content-center"
                  >
                    <div class="payment-link">
                      <img
                        src="/static/assets/img/payment/payment.png"
                        alt="payment"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
