<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sacabanks - Construction Material Bank."
    />
    <meta name="keywords" content="" />
    <title>Sacabanks - Construction Material Bank</title>

    <!-- Site Favicon -->
    <link
      rel="icon"
      th:href="@{/static/assets/img/favicon/favicon.ico}"
      type="image/x-icon"
    />

    <!-- Css All Plugins Files -->
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/remixicon.css}"
    />
    <link rel="stylesheet" th:href="@{/static/assets/css/vendor/aos.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/swiper-bundle.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/slick.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/animate.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/jquery-range-ui.css}"
    />

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row bb-breadcrumb-inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="bb-breadcrumb-title">Tin tức</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul class="bb-breadcrumb-list">
                  <li class="bb-breadcrumb-item">
                    <a href="/">Trang chủ</a>
                  </li>
                  <li><i class="ri-arrow-right-double-fill"></i></li>
                  <li class="bb-breadcrumb-item active">Tin tức</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Blog -->
    <section class="section-blog padding-tb-50">
      <div class="container">
        <div class="row mb-minus-24">
          <div
            class="col-lg-4 col-md-6 col-12 mb-24"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
            th:each="blog: ${blogs}"
          >
            <div class="bb-blog-card">
              <div class="blog-image">
                <img
                  th:src="${'https://api.sacabanks.vn/uploads/' + blog.image}"
                  alt="blog-7"
                />
              </div>
              <div class="blog-contact">
                <h5>
                  <a th:href="${'/blog/' + blog.slug}" th:text="${blog.title}"
                    >Marketing Guide: 5 Steps to Success.</a
                  >
                </h5>
                <p th:text="${blog.shortDesc}">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Dicta ab illum maiores error neque amet rem quod consequuntur?
                  Iste, rerum.
                </p>
                <div class="blog-btn">
                  <a th:href="${'/bai-viet/' + blog.slug}" class="bb-btn-2"
                    >Xem chi tiết</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-12">
                    <div class="bb-pro-pagination">
                        <p>Showing 1-12 of 21 item(s)</p>
                        <ul>
                            <li class="active">
                                <a href="javascript:void(0)">1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">2</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">3</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">4</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="next">Next <i class="ri-arrow-right-s-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        </div>
      </div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Back to top  -->
    <a href="#Top" class="back-to-top result-placeholder">
      <i class="ri-arrow-up-line"></i>
      <div class="back-to-top-wrap active-progress">
        <svg viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
      </div>
    </a>

    <!-- Plugins -->
    <script
      th:src="@{/static/assets/js/vendor/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/static/assets/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/jquery.zoom.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/aos.js}"></script>
    <script th:src="@{/static/assets/js/vendor/swiper-bundle.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/smoothscroll.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/slick.min.js}"></script>
    <script
      th:src="@{/static/assets/js/vendor/jquery-range-ui.min.js}"
    ></script>

    <!-- main-js -->
    <script th:src="@{/static/assets/js/main.js}"></script>
  </body>
</html>
