<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sacabanks - Construction Material Bank."
    />
    <meta name="keywords" content="" />
    <title>Sacabanks - Construction Material Bank</title>

    <!-- Site Favicon -->
    <link
      rel="icon"
      th:href="@{/static/assets/img/favicon/favicon.ico}"
      type="image/x-icon"
    />

    <!-- Css All Plugins Files -->
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/remixicon.css}"
    />
    <link rel="stylesheet" th:href="@{/static/assets/css/vendor/aos.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/swiper-bundle.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/slick.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/animate.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/jquery-range-ui.css}"
    />

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Hero -->
    <section class="section-hero margin-b-50">
      <div class="bb-social-follow">
        <ul class="inner-links">
          <li>
            <a href="javascript:void(0)">Fb</a>
          </li>
          <li>
            <a href="javascript:void(0)">Yu</a>
          </li>
          <li>
            <a href="javascript:void(0)">In</a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide slide-1">
                  <div class="row mb-minus-24">
                    <div class="hero-image">
                      <img
                        src="/static/assets/img/hero/hero-1.png"
                        alt="hero"
                      />
                    </div>
                  </div>
                </div>
                <div class="swiper-slide slide-2">
                  <div class="row mb-minus-24">
                    <div class="hero-image">
                      <img
                        src="/static/assets/img/hero/hero-2.png"
                        alt="hero"
                      />
                    </div>
                  </div>
                </div>
                <div class="swiper-slide slide-3">
                  <div class="row mb-minus-24">
                    <div class="hero-image">
                      <img
                        src="/static/assets/img/hero/hero-3.png"
                        alt="hero"
                      />
                    </div>
                  </div>
                </div>
                <div class="swiper-slide slide-4">
                  <div class="row mb-minus-24">
                    <div class="hero-image">
                      <img
                        src="/static/assets/img/hero/hero-4.png"
                        alt="hero"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-white"></div>
              <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bb-scroll-Page">
        <span class="scroll-bar">
          <a href="javascript:void(0)">Cuộn Trang</a>
        </span>
      </div>
    </section>

    <!-- Category -->
    <section class="section-category padding-tb-50">
      <div class="container">
        <div class="row mb-minus-24">
          <div class="col-lg-5 col-12 mb-24">
            <div class="bb-category-img">
              <img
                src="/static/assets/img/category/category-100.jpg"
                alt="category"
              />
              <div class="bb-offers"></div>
            </div>
          </div>
          <div class="col-lg-7 col-12 mb-24">
            <div class="bb-category-contact">
              <div
                class="category-title"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="600"
              >
                <h2>Danh Mục Sản Phẩm</h2>
              </div>

              <!-- todo: render category -->

              <div class="bb-category-block owl-carousel">
                <div
                  th:each="category: ${categoriesHeader}"
                  class="bb-category-box category-items-1"
                  data-aos="flip-left"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                  style="height: 150px"
                >
                  <div class="category-image">
                    <img
                      th:src="${'https://api.sacabanks.vn/uploads/' + category.image}"
                      th:alt="${'Product image - ' + category.id}"
                      onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                    />
                  </div>
                  <div class="category-sub-contact">
                    <h5>
                      <a
                        href="shop-left-sidebar-col-3.html"
                        th:text="${category.name}"
                        >vegetables</a
                      >
                    </h5>
                    <p>485 items</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Day of the deal -->
    <section class="section-deal padding-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="section-title bb-deal"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div class="section-detail">
                <h2 class="bb-title">Các Sản Phẩm <span>Nổi Bật</span></h2>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="bb-deal-slider">
              <div
                class="bb-deal-block owl-carousel"
                th:if="${!products.empty}"
              >
                <div
                  class="bb-deal-card"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                  th:each="product : ${products}"
                >
                  <div class="bb-pro-box">
                    <div class="bb-pro-img">
                      <span class="flags">
                        <span>New</span>
                      </span>
                      <a th:href="${'/san-pham/' + product.slug}">
                        <div class="inner-img">
                          <img
                            class="main-img"
                            th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                            th:alt="${'Product image - ' + product.id}"
                            onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            width="300"
                            height="300"
                            alt="product-1"
                          />
                          <img
                            class="hover-img"
                            src="/static/assets/img/logo/Sacabanks.svg"
                            alt="product-1"
                          />
                        </div>
                      </a>
                      <ul class="bb-pro-actions">
                        <li class="bb-btn-group">
                          <a th:href="${'/san-pham/' + product.slug}">
                            <i class="ri-heart-line"></i>
                          </a>
                        </li>
                        <li class="bb-btn-group">
                          <a th:href="${'/san-pham/' + product.slug}">
                            <i class="ri-eye-line"></i>
                          </a>
                        </li>
                        <li class="bb-btn-group">
                          <form
                            th:action="${'/compare/' + product.id}"
                            method="post"
                          >
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-repeat-line"></i>
                            </button>
                          </form>
                        </li>
                        <li class="bb-btn-group">
                          <form action="/gio-hang/add" method="post">
                            <input
                              type="text"
                              name="quantity"
                              value="1"
                              hidden
                            />
                            <input
                              name="productId"
                              th:value="${product.id}"
                              hidden
                            />
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-shopping-bag-4-line"></i>
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                    <div class="bb-pro-contact">
                      <div class="bb-pro-subtitle">
                        <a
                          href="shop-left-sidebar-col-3.html"
                          th:text="${product.userProviderName}"
                          >Chocos</a
                        >
                        <span class="bb-pro-rating">
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-line"></i>
                        </span>
                      </div>
                      <h4 class="bb-pro-title">
                        <a
                          href="product-left-sidebar.html"
                          th:text="${product.title}"
                        ></a>
                      </h4>
                      <div class="bb-price">
                        <div class="inner-price">
                          <span
                            class="new-price"
                            th:text="${product.price}"
                          ></span>
                        </div>
                        <span class="last-items">Out of stock</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Banner-one -->
    <section class="section-banner-one padding-tb-50">
      <div class="container">
        <div class="row mb-minus-24">
          <div
            class="col-lg-6 col-12 mb-24"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <div class="banner-box bg-box-color-one">
              <div class="inner-banner-box">
                <div class="side-image">
                  <img src="/static/assets/img/banner-one/one.png" alt="one" />
                </div>
                <div class="inner-contact">
                  <h5>Gạch Bông Cao Cấp</h5>
                  <p>
                    Gạch "handmade" nghệ thuật dùng lát sàn, ốp tường và trang
                    trí nội ngoại thất.
                  </p>
                  <a href="shop-left-sidebar-col-3.html" class="bb-btn-1"
                    >Tìm Hiểu Thêm</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-12 mb-24"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <div class="banner-box bg-box-color-two">
              <div class="inner-banner-box">
                <div class="side-image">
                  <img src="/static/assets/img/banner-one/two.png" alt="two" />
                </div>
                <div class="inner-contact">
                  <h5>Máy vặn vít Milwaukee</h5>
                  <p>
                    là một thiết bị phụ trợ nổi bật cho các hoạt động sản xuất
                    thi công ngoài thực tế.
                  </p>
                  <a href="shop-left-sidebar-col-3.html" class="bb-btn-1"
                    >Tìm Hiểu Thêm</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Banner-two -->
    <section class="section-banner-two margin-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12 banner-justify-box-contact">
            <div class="banner-two-box">
              <span
                >Ưu Đãi 20% Dịch vụ tại KDL Làng Nhỏ, trung tâm LAA và hoạt động
                quảng bá trên tạp chí nhà đẹp</span
              >
              <h4>Khi đăng ký thành viên mới</h4>
              <a href="javascript:void(0)" class="bb-btn-1">Đăng Ký Ngay</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- New Product tab Area -->
    <section class="section-product-tabs padding-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="section-title bb-deal"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div class="section-detail">
                <h2 class="bb-title">Sản Phẩm Mới</h2>
              </div>
              <div class="bb-pro-tab">
                <ul class="bb-pro-tab-nav nav">
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#all"
                      >Tất cả</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-bs-toggle="tab"
                      href="#snack"
                      >Mới nhất</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#fruit"
                      >Xem nhiều nhất</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#veg"
                      >Bán chạy</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-minus-24">
          <div class="col">
            <div class="tab-content">
              <!-- 1st Product tab start -->
              <div class="tab-pane fade" id="all">
                <div class="row" th:if="${!products.empty}">
                  <div
                    class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    th:each="product : ${products}"
                  >
                    <div class="bb-pro-box">
                      <div class="bb-pro-img">
                        <span class="flags">
                          <span th:text="${product.tags}">New</span>
                        </span>
                        <a th:href="${'/san-pham/' + product.slug}">
                          <div class="inner-img">
                            <img
                              class="main-img"
                              th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                              th:alt="${'Product image - ' + product.id}"
                              alt="product-1"
                              width="300"
                              height="300"
                              onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            />
                            <img
                              class="hover-img"
                              src="/static/assets/img/logo/Sacabanks.svg"
                              alt="product-1"
                            />
                          </div>
                        </a>
                        <ul class="bb-pro-actions">
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-heart-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-eye-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <form
                              th:action="${'/compare/' + product.id}"
                              method="post"
                            >
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-repeat-line"></i>
                              </button>
                            </form>
                          </li>
                          <li class="bb-btn-group">
                            <form action="/gio-hang/add" method="post">
                              <input
                                type="text"
                                name="quantity"
                                value="1"
                                hidden
                              />
                              <input
                                name="productId"
                                th:value="${product.id}"
                                hidden
                              />
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-shopping-bag-4-line"></i>
                              </button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.userProviderName}"
                            >Snacks</a
                          >
                          <span class="bb-pro-rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                          </span>
                        </div>
                        <h4 class="bb-pro-title">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.title}"
                          >
                            Product Name
                          </a>
                        </h4>
                        <div class="bb-price">
                          <div class="inner-price">
                            <span class="new-price" th:text="${product.price}"
                              >$15</span
                            >
                          </div>
                          <span class="last-items">Out of stock</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2nd Product tab start -->
              <div class="tab-pane fade show active" id="snack">
                <div class="row" th:if="${!productsNew.empty}">
                  <div
                    class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    th:each="product : ${productsNew}"
                  >
                    <div class="bb-pro-box">
                      <div class="bb-pro-img">
                        <span class="flags">
                          <span th:text="${product.tags}">New</span>
                        </span>
                        <a th:href="${'/san-pham/' + product.slug}">
                          <div class="inner-img">
                            <img
                              class="main-img"
                              th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                              th:alt="${'Product image - ' + product.id}"
                              width="300"
                              height="300"
                              alt="product-1"
                              onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            />
                            <img
                              class="hover-img"
                              src="/static/assets/img/logo/Sacabanks.svg"
                              alt="product-1"
                            />
                          </div>
                        </a>
                        <ul class="bb-pro-actions">
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-heart-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-eye-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <form
                              th:action="${'/compare/' + product.id}"
                              method="post"
                            >
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-repeat-line"></i>
                              </button>
                            </form>
                          </li>
                          <li class="bb-btn-group">
                            <form action="/gio-hang/add" method="post">
                              <input
                                type="text"
                                name="quantity"
                                value="1"
                                hidden
                              />
                              <input
                                name="productId"
                                th:value="${product.id}"
                                hidden
                              />
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-shopping-bag-4-line"></i>
                              </button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.userProviderName}"
                            >Snacks</a
                          >
                          <span class="bb-pro-rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                          </span>
                        </div>
                        <h4 class="bb-pro-title">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.title}"
                          >
                            Product Name
                          </a>
                        </h4>
                        <div class="bb-price">
                          <div class="inner-price">
                            <span class="new-price" th:text="${product.price}"
                              >$15</span
                            >
                          </div>
                          <span class="last-items">Out of stock</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3rd Product tab start -->
              <div class="tab-pane fade" id="fruit">
                <div class="row" th:if="${!productsHot.empty}">
                  <div
                    class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    th:each="product : ${productsHot}"
                  >
                    <div class="bb-pro-box">
                      <div class="bb-pro-img">
                        <span class="flags">
                          <span th:text="${product.tags}">New</span>
                        </span>
                        <a th:href="${'/san-pham/' + product.slug}">
                          <div class="inner-img">
                            <img
                              class="main-img"
                              th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                              th:alt="${'Product image - ' + product.id}"
                              width="300"
                              height="300"
                              alt="product-1"
                              onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            />
                            <img
                              class="hover-img"
                              src="/static/assets/img/logo/Sacabanks.svg"
                              alt="product-1"
                            />
                          </div>
                        </a>
                        <ul class="bb-pro-actions">
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-heart-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-eye-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <form
                              th:action="${'/compare/' + product.id}"
                              method="post"
                            >
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-repeat-line"></i>
                              </button>
                            </form>
                          </li>
                          <li class="bb-btn-group">
                            <form action="/gio-hang/add" method="post">
                              <input
                                type="text"
                                name="quantity"
                                value="1"
                                hidden
                              />
                              <input
                                name="productId"
                                th:value="${product.id}"
                                hidden
                              />
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-shopping-bag-4-line"></i>
                              </button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.userProviderName}"
                            >Snacks</a
                          >
                          <span class="bb-pro-rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                          </span>
                        </div>
                        <h4 class="bb-pro-title">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.title}"
                          >
                            Product Name
                          </a>
                        </h4>
                        <div class="bb-price">
                          <div class="inner-price">
                            <span class="new-price" th:text="${product.price}"
                              >$15</span
                            >
                          </div>
                          <span class="last-items">Out of stock</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4th Product tab start -->
              <div class="tab-pane fade" id="veg">
                <div class="row" th:if="${!products.empty}">
                  <div
                    class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    th:each="product : ${productsBestSeller}"
                  >
                    <div class="bb-pro-box">
                      <div class="bb-pro-img">
                        <span class="flags">
                          <span th:text="${product.tags}">New</span>
                        </span>
                        <a th:href="${'/san-pham/' + product.slug}">
                          <div class="inner-img">
                            <img
                              class="main-img"
                              th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                              th:alt="${'Product image - ' + product.id}"
                              width="300"
                              height="300"
                              alt="product-1"
                              onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            />
                            <img
                              class="hover-img"
                              src="/static/assets/img/logo/Sacabanks.svg"
                              alt="product-1"
                            />
                          </div>
                        </a>
                        <ul class="bb-pro-actions">
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-heart-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <a th:href="${'/san-pham/' + product.slug}">
                              <i class="ri-eye-line"></i>
                            </a>
                          </li>
                          <li class="bb-btn-group">
                            <form
                              th:action="${'/compare/' + product.id}"
                              method="post"
                            >
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-repeat-line"></i>
                              </button>
                            </form>
                          </li>
                          <li class="bb-btn-group">
                            <form action="/gio-hang/add" method="post">
                              <input
                                type="text"
                                name="quantity"
                                value="1"
                                hidden
                              />
                              <input
                                name="productId"
                                th:value="${product.id}"
                                hidden
                              />
                              <button
                                style="
                                  border: none;
                                  outline: none;
                                  background: transparent;
                                "
                              >
                                <i class="ri-shopping-bag-4-line"></i>
                              </button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.userProviderName}"
                            >Snacks</a
                          >
                          <span class="bb-pro-rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                          </span>
                        </div>
                        <h4 class="bb-pro-title">
                          <a
                            th:href="@{'/san-pham/' + ${product.slug}}"
                            th:text="${product.title}"
                          >
                            Product Name
                          </a>
                        </h4>
                        <div class="bb-price">
                          <div class="inner-price">
                            <span class="new-price" th:text="${product.price}"
                              >$15</span
                            >
                          </div>
                          <span class="last-items">Out of stock</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Blog -->
    <section class="section-blog padding-b-50 padding-t-100">
      <div class="container">
        <h2 class="bb-title my-4">Tin Tức <span>Mới</span></h2>
        <div class="row">
          <div class="col-12">
            <div class="blog-2-slider owl-carousel">
              <div
                class="blog-2-card"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                th:each="blog: ${blogs}"
              >
                <div class="blog-img">
                  <img
                    th:src="${'https://api.sacabanks.vn/uploads/' + blog.image}"
                    alt="blog-7"
                    height="200"
                  />
                </div>
                <div class="blog-contact">
                  <span
                    th:text="${#dates.format(blog.updatedAt, 'dd-MM-yyyy')}"
                  ></span>
                  <h4>
                    <a
                      th:href="${'/bai-viet/' + blog.slug}"
                      th:text="${blog.title}"
                      style="
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                      "
                    >
                      Marketing Guide: 5 Steps to Success.
                    </a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Instagram -->
    <h2 class="bb-title mt-4 container">Đối tác Sacabanks</h2>
    <section class="section-instagram padding-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bb-instagram-slider owl-carousel">
              <div
                class="bb-instagram-card"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                th:each="vendor: ${vendors}"
              >
                <div class="instagram-img">
                  <a href="javascript:void(0)">
                    <img
                      th:src="${'https://api.sacabanks.vn/uploads/' + vendor.avatar}"
                      alt="instagram-1"
                      width="100"
                      height="100"
                      onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Cart sidebar
    <div class="bb-side-cart-overlay"></div>
    <div class="bb-side-cart">
      <div class="row h-full">
        <div class="col-md-5 col-12 d-none-767">
          <div class="bb-top-contact">
            <div class="bb-cart-title">
              <h4>Related Items</h4>
            </div>
          </div>
          <div class="bb-cart-box mb-minus-24 cart-related bb-border-right">
            <div class="bb-deal-card mb-24">
              <div class="bb-pro-box">
                <div class="bb-pro-img">
                  <span class="flags">
                    <span>Hot</span>
                  </span>
                  <a href="javascript:void(0)">
                    <div class="inner-img">
                      <img
                        class="main-img"
                        src="/static/assets/img/product/2.jpg"
                        alt="product-2"
                      />
                      <img
                        class="hover-img"
                        src="/static/assets/img/product/back-2.jpg"
                        alt="product-2"
                      />
                    </div>
                  </a>
                  <ul class="bb-pro-actions">
                    <li class="bb-btn-group">
                      <a href="javascript:void(0)" title="Wishlist">
                        <i class="ri-heart-line"></i>
                      </a>
                    </li>
                    <li class="bb-btn-group">
                      <a
                        href="javascript:void(0)"
                        data-link-action="quickview"
                        title="Quick View"
                        data-bs-toggle="modal"
                        data-bs-target="#bry_quickview_modal"
                      >
                        <i class="ri-eye-line"></i>
                      </a>
                    </li>
                    <li class="bb-btn-group">
                      <a href="#" title="Compare">
                        <i class="ri-repeat-line"></i>
                      </a>
                    </li>
                    <li class="bb-btn-group">
                      <a href="javascript:void(0)" title="Add To Cart">
                        <i class="ri-shopping-bag-4-line"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="bb-pro-contact">
                  <div class="bb-pro-subtitle">
                    <a href="shop-left-sidebar-col-3.html">Juice</a>
                    <span class="bb-pro-rating">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-line"></i>
                    </span>
                  </div>
                  <h4 class="bb-pro-title">
                    <a href="product-left-sidebar.html"
                      >Organic Apple Juice Pack</a
                    >
                  </h4>
                  <div class="bb-price">
                    <div class="inner-price">
                      <span class="new-price">$15</span>
                      <span class="item-left">3 Left</span>
                    </div>
                    <span class="last-items">100 ml</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="bb-cart-banner mb-24">
              <div class="banner">
                <img
                  src="/static/assets/img/category/cart-banner.jpg"
                  alt="cart-banner"
                />
                <div class="detail">
                  <h4>Organic & Fresh</h4>
                  <h3>Vegetables</h3>
                  <a href="shop-left-sidebar-col-3.html">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12">
          <div class="bb-inner-cart">
            <div class="bb-top-contact">
              <div class="bb-cart-title">
                <h4>My cart</h4>
                <a
                  href="javascript:void(0)"
                  class="bb-cart-close"
                  title="Close Cart"
                ></a>
              </div>
            </div>
            <div class="bb-cart-box item">
              <ul class="bb-cart-items">
                <li class="cart-sidebar-list">
                  <a href="javascript:void(0)" class="cart-remove-item"
                    ><i class="ri-close-line"></i
                  ></a>
                  <a href="javascript:void(0)" class="bb-cart-pro-img">
                    <img
                      src="/static/assets/img/new-product/1.jpg"
                      alt="product-img-1"
                    />
                  </a>
                  <div class="bb-cart-contact">
                    <a
                      href="product-left-sidebar.html"
                      class="bb-cart-sub-title"
                      >Ground Nuts Oil Pack</a
                    >
                    <span class="cart-price">
                      <span class="new-price">$15</span>
                      x 500 g
                    </span>
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="bb-qtybtn"
                        value="1"
                      />
                    </div>
                  </div>
                </li>
                <li class="cart-sidebar-list">
                  <a href="javascript:void(0)" class="cart-remove-item"
                    ><i class="ri-close-line"></i
                  ></a>
                  <a href="javascript:void(0)" class="bb-cart-pro-img">
                    <img
                      src="/static/assets/img/new-product/2.jpg"
                      alt="product-img-2"
                    />
                  </a>
                  <div class="bb-cart-contact">
                    <a
                      href="product-left-sidebar.html"
                      class="bb-cart-sub-title"
                      >Organic Litchi Juice Pack</a
                    >
                    <span class="cart-price">
                      <span class="new-price">$25</span>
                      x 500 ml
                    </span>
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="bb-qtybtn"
                        value="1"
                      />
                    </div>
                  </div>
                </li>
                <li class="cart-sidebar-list">
                  <a href="javascript:void(0)" class="cart-remove-item"
                    ><i class="ri-close-line"></i
                  ></a>
                  <a href="javascript:void(0)" class="bb-cart-pro-img">
                    <img
                      src="/static/assets/img/new-product/3.jpg"
                      alt="product-img-3"
                    />
                  </a>
                  <div class="bb-cart-contact">
                    <a
                      href="product-left-sidebar.html"
                      class="bb-cart-sub-title"
                      >Crunchy Banana Chips</a
                    >
                    <span class="cart-price">
                      <span class="new-price">$1</span>
                      x 500 g
                    </span>
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="bb-qtybtn"
                        value="1"
                      />
                    </div>
                  </div>
                </li>
                <li class="cart-sidebar-list">
                  <a href="javascript:void(0)" class="cart-remove-item"
                    ><i class="ri-close-line"></i
                  ></a>
                  <a href="javascript:void(0)" class="bb-cart-pro-img">
                    <img
                      src="/static/assets/img/new-product/6.jpg"
                      alt="product-img-3"
                    />
                  </a>
                  <div class="bb-cart-contact">
                    <a
                      href="product-left-sidebar.html"
                      class="bb-cart-sub-title"
                      >Small Cardamom Spice Pack</a
                    >
                    <span class="cart-price">
                      <span class="new-price">$4</span>
                      x 500 g
                    </span>
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="bb-qtybtn"
                        value="1"
                      />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="bb-bottom-cart">
              <div class="cart-sub-total">
                <table class="table cart-table">
                  <tbody>
                    <tr>
                      <td class="title">Sub-Total :</td>
                      <td class="price">$300.00</td>
                    </tr>
                    <tr>
                      <td class="title">VAT (20%) :</td>
                      <td class="price">$60.00</td>
                    </tr>
                    <tr>
                      <td class="title">Total :</td>
                      <td class="price">$360.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="cart-btn">
                <a href="cart.html" class="bb-btn-1">View Cart</a>
                <a href="checkout.html" class="bb-btn-2">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Quick view Modal -->
    <div
      class="modal fade quickview-modal"
      id="bry_quickview_modal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button
            type="button"
            class="qty-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            title="Close"
          ></button>
          <div class="modal-body">
            <div class="row mb-minus-24">
              <div class="col-md-5 col-sm-12 col-xs-12 mb-24">
                <div class="single-pro-img single-pro-img-no-sidebar">
                  <div class="single-product-scroll">
                    <div class="single-slide zoom-image-hover">
                      <img
                        class="img-responsive"
                        src="/static/assets/img/product/1.jpg"
                        alt="product-img-1"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12 mb-24">
                <div class="quickview-pro-content">
                  <h5 class="bb-quick-title">
                    <a href="product-left-sidebar.html"
                      >Mix nuts premium quality organic dried fruit 250g pack</a
                    >
                  </h5>
                  <div class="bb-pro-rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                  </div>
                  <div class="bb-quickview-desc">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1900s,
                  </div>
                  <div class="bb-quickview-price">
                    <span class="new-price">$50.00</span>
                    <span class="old-price">$62.00</span>
                  </div>
                  <div class="bb-pro-variation">
                    <ul>
                      <li class="active">
                        <a
                          href="javascript:void(0)"
                          class="bb-opt-sz"
                          data-tooltip="Small"
                          >250g</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="bb-opt-sz"
                          data-tooltip="Medium"
                          >500g</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="bb-opt-sz"
                          data-tooltip="Large"
                          >1kg</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="bb-opt-sz"
                          data-tooltip="Extra Large"
                          >2kg</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="bb-quickview-qty">
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="bb-qtybtn"
                        value="1"
                      />
                    </div>
                    <div class="bb-quickview-cart">
                      <button type="button" class="bb-btn-1">
                        <i class="ri-shopping-bag-line"></i>Add To Cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back to top  -->
    <a href="#Top" class="back-to-top result-placeholder">
      <i class="ri-arrow-up-line"></i>
      <div class="back-to-top-wrap active-progress">
        <svg viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
      </div>
    </a>

    <!-- Plugins -->
    <script
      th:src="@{/static/assets/js/vendor/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/static/assets/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/jquery.zoom.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/aos.js}"></script>
    <script th:src="@{/static/assets/js/vendor/swiper-bundle.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/smoothscroll.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/slick.min.js}"></script>
    <script
      th:src="@{/static/assets/js/vendor/jquery-range-ui.min.js}"
    ></script>

    <!-- main-js -->
    <script th:src="@{/static/assets/js/main.js}"></script>
    <script th:src="@{/static/assets/js/slider-category-popup.js}"></script>
  </body>
</html>
