<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sacabanks - Construction Material Bank."
    />
    <meta name="keywords" content="" />
    <title>Sacabanks - Construction Material Bank</title>

    <!-- Site Favicon -->
    <link
      rel="icon"
      th:href="@{/static/assets/img/favicon/favicon.ico}"
      type="image/x-icon"
    />

    <!-- Css All Plugins Files -->
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/remixicon.css}"
    />
    <link rel="stylesheet" th:href="@{/static/assets/css/vendor/aos.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/swiper-bundle.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/slick.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/animate.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/jquery-range-ui.css}"
    />

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row bb-breadcrumb-inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="bb-breadcrumb-title">Sản phẩm</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul class="bb-breadcrumb-list">
                  <li class="bb-breadcrumb-item">
                    <a href="/">Trang chủ</a>
                  </li>
                  <li><i class="ri-arrow-right-double-fill"></i></li>
                  <li class="bb-breadcrumb-item active">Sản phẩm</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Category section -->
    <section class="section-category padding-t-50 mb-24">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bb-category-6-colum owl-carousel">
              <div
                class="bb-category-box category-items-1"
                data-aos="flip-left"
                data-aos-duration="1000"
                data-aos-delay="500"
                style="height: 150px"
                th:each="category : ${categories}"
              >
                <div class="category-image">
                  <img
                    th:src="${'https://api.sacabanks.vn/uploads/' + category.image}"
                    th:alt="${'Product image - ' + category.id}"
                    onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                  />
                </div>
                <div class="category-sub-contact">
                  <h5><a href="#" th:text="${category.name}">vegetables</a></h5>
                  <!-- <p>485 items</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Shop section -->
    <section class="section-shop padding-b-50">
      <div class="container">
        <div class="row mb-minus-24">
          <div class="col-lg-3 col-12 mb-24">
            <div class="bb-shop-wrap">
              <div class="bb-sidebar-block">
                <div class="bb-sidebar-title">
                  <div style="display: flex; justify-content: space-between">
                    <h3>Phân loại</h3>
                  </div>
                </div>
                <div class="bb-sidebar-contact">
                  <ul>
                    <li>
                      <a
                        class="bb-sidebar-block-item"
                        th:href="@{/san-pham(type='product')}"
                      >
                        <span> Products </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="bb-sidebar-block-item"
                        th:href="@{/san-pham(type='warehouse')}"
                      >
                        <span> Warehouse </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="bb-sidebar-block">
                <div class="bb-sidebar-title">
                  <h3>Danh mục</h3>
                </div>
                <div class="bb-sidebar-contact">
                  <div
                    class="bb-faq-contact"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="600"
                  >
                    <div class="accordion row">
                      <div
                        class="accordion-item"
                        th:each="item, itemStat : ${categories}"
                      >
                        <h2
                          class="accordion-header"
                          th:id="'heading' + ${itemStat.index}"
                        >
                          <div style="display: flex; align-items: start">
                            <a
                              th:text="${item.name}"
                              th:href="${'/san-pham?categoryId=' + item.id}"
                              style="flex: 1"
                            >
                            </a>

                            <button
                              style="
                                border: none;
                                padding: 0;
                                width: max-content;
                              "
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              th:data-bs-target="'#collapse' + ${itemStat.index}"
                              th:aria-controls="'collapse' + ${itemStat.index}"
                            ></button>
                          </div>
                        </h2>
                        <div
                          th:id="'collapse' + ${itemStat.index}"
                          class="accordion-collapse collapse"
                          th:aria-labelledby="'heading' + ${itemStat.index}"
                        >
                          <div class="accordion-body">
                            <ul>
                              <li th:each="child : ${item.children}">
                                <a
                                  th:href="${'/san-pham?categoryId=' + child.id}"
                                  th:text="${child.name}"
                                >
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-12 mb-24">
            <div class="bb-shop-pro-inner">
              <div class="row mb-minus-24">
                <div class="col-12">
                  <div class="bb-pro-list-top">
                    <div class="row">
                      <div class="col-6">
                        <div class="bb-bl-btn">
                          <button type="button" class="grid-btn btn-grid-100">
                            <i class="ri-apps-line"></i>
                          </button>
                          <button
                            type="button"
                            class="grid-btn btn-list-100 active"
                          >
                            <i class="ri-list-unordered"></i>
                          </button>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="bb-select-inner">
                          <div class="custom-select">
                            <select>
                              <option selected disabled>Sort by</option>
                              <option value="1">Position</option>
                              <option value="2">Relevance</option>
                              <option value="3">Name, A to Z</option>
                              <option value="4">Name, Z to A</option>
                              <option value="5">Price, low to high</option>
                              <option value="6">Price, high to low</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4 col-6 mb-24 bb-product-box pro-bb-content width-100"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                  th:each="product : ${products}"
                >
                  <div class="bb-pro-box">
                    <div class="bb-pro-img" style="flex-shrink: 0">
                      <a th:href="${'/san-pham/' + product.slug}">
                        <div class="inner-img">
                          <img
                            class="main-img"
                            th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                            th:alt="${'Product image - ' + product.id}"
                            width="300"
                            alt="product-1"
                            onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                          />
                          <img
                            class="hover-img"
                            src="/static/assets/img/logo/Sacabanks.svg"
                            alt="product-1"
                          />
                        </div>
                      </a>
                      <ul class="bb-pro-actions">
                        <li class="bb-btn-group">
                          <a th:href="${'/san-pham/' + product.slug}">
                            <i class="ri-heart-line"></i>
                          </a>
                        </li>
                        <li class="bb-btn-group">
                          <a th:href="${'/san-pham/' + product.slug}">
                            <i class="ri-eye-line"></i>
                          </a>
                        </li>
                        <li class="bb-btn-group">
                          <form
                            th:action="${'/compare/' + product.id}"
                            method="post"
                          >
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-repeat-line"></i>
                            </button>
                          </form>
                        </li>
                        <li class="bb-btn-group">
                          <form action="/gio-hang/add" method="post">
                            <input
                              type="text"
                              name="quantity"
                              value="1"
                              hidden
                            />
                            <input
                              name="productId"
                              th:value="${product.id}"
                              hidden
                            />
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-shopping-bag-4-line"></i>
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                    <div class="bb-pro-contact" style="height: 100%; flex: 1">
                      <div class="bb-pro-subtitle">
                        <a
                          th:href="@{'/san-pham/' + ${product.slug}}"
                          th:text="${product.user.username}"
                          >Snacks</a
                        >
                        <span class="bb-pro-rating">
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-line"></i>
                        </span>
                      </div>
                      <h4 class="bb-pro-title">
                        <a
                          th:href="@{'/san-pham/' + ${product.slug}}"
                          th:text="${product.title}"
                          >Ground Nuts Oil Pack</a
                        >
                      </h4>
                      <p
                        th:text="${product.desc != null && product.desc.length() > 200 ? product.desc.substring(0, 200) + '...' : product.desc != null ? product.desc : ''}"
                      ></p>

                      <div class="bb-price">
                        <div class="inner-price">
                          <span class="new-price">$15</span>
                          <span class="old-price">$22</span>
                        </div>
                        <span class="last-items">500g</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="bb-pro-pagination">
                    <p>Showing 1-12 of 21 item(s)</p>
                    <ul>
                      <li
                        th:each="page : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${page == currentPage} ? 'active'"
                      >
                        <a
                          th:href="@{/san-pham(page=${page})}"
                          th:text="${page}"
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Back to top  -->
    <a href="#Top" class="back-to-top result-placeholder">
      <i class="ri-arrow-up-line"></i>
      <div class="back-to-top-wrap active-progress">
        <svg viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
      </div>
    </a>

    <!-- Plugins -->
    <script
      th:src="@{/static/assets/js/vendor/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/static/assets/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/jquery.zoom.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/aos.js}"></script>
    <script th:src="@{/static/assets/js/vendor/swiper-bundle.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/smoothscroll.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/slick.min.js}"></script>
    <script
      th:src="@{/static/assets/js/vendor/jquery-range-ui.min.js}"
    ></script>

    <!-- main-js -->
    <script th:src="@{/static/assets/js/main.js}"></script>
    <script th:src="@{/static/assets/js/slider-category-popup.js}"></script>
  </body>
</html>
