<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sacabanks - Construction Material Bank."
    />
    <meta name="keywords" content="" />
    <title>Sacabanks - Construction Material Bank</title>

    <!-- Site Favicon -->
    <link
      rel="icon"
      th:href="@{/static/assets/img/favicon/favicon.ico}"
      type="image/x-icon"
    />

    <!-- Css All Plugins Files -->
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/remixicon.css}"
    />
    <link rel="stylesheet" th:href="@{/static/assets/css/vendor/aos.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/swiper-bundle.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/slick.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/animate.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/jquery-range-ui.css}"
    />

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row bb-breadcrumb-inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="bb-breadcrumb-title">Sản phẩm</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul class="bb-breadcrumb-list">
                  <li class="bb-breadcrumb-item">
                    <a href="/">Trang chủ</a>
                  </li>
                  <li><i class="ri-arrow-right-double-fill"></i></li>
                  <li class="bb-breadcrumb-item active">Sản phẩm</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Product page -->
    <section class="section-product padding-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bb-single-pro">
              <div class="row">
                <div class="col-lg-5 col-12 mb-24">
                  <div class="single-pro-slider">
                    <div class="single-product-cover">
                      <div class="single-slide zoom-image-hover">
                        <img
                          class="img-responsive"
                          th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                          onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                          th:alt="${'Product image - ' + product.id}"
                        />
                      </div>
                      <div
                        class="single-slide zoom-image-hover"
                        th:each="photo : ${product.listPhoto}"
                      >
                        <img
                          class="img-responsive"
                          th:src="${'https://api.sacabanks.vn/uploads/' + photo.photoUrl}"
                          alt="product-2"
                          height="150"
                        />
                      </div>
                    </div>
                    <div class="single-nav-thumb">
                      <div class="single-slide">
                        <img
                          class="img-responsive"
                          th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                          alt="product-2"
                          height="60"
                          width="60"
                        />
                      </div>

                      <div
                        class="single-slide"
                        th:each="photo : ${product.listPhoto}"
                      >
                        <img
                          class="img-responsive"
                          th:src="${'https://api.sacabanks.vn/uploads/' + photo.photoUrl}"
                          alt="product-2"
                          height="60"
                          width="60"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-12 mb-24">
                  <div class="bb-single-pro-contact">
                    <div class="bb-sub-title">
                      <h4 th:text="${product.title}">
                        Ground Nuts Oil Pack 52g
                      </h4>
                    </div>
                    <div class="bb-single-rating">
                      <span class="bb-pro-rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                      </span>
                      <span class="bb-read-review">
                        |&nbsp;&nbsp;<a href="#bb-spt-nav-review"
                          >992 Ratings</a
                        >
                      </span>
                    </div>
                    <p th:text="${product.desc}">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Quas nihil laboriosam voluptatem ab consectetur dolorum
                      id, soluta sunt at culpa commodi totam quod natus qui!
                    </p>
                    <div class="bb-single-price-wrap">
                      <div class="bb-single-price">
                        <div class="price">
                          <h5 th:text="${product.price}" class="new-price"></h5>
                        </div>
                      </div>
                    </div>
                    <div class="bb-single-list">
                      <ul>
                        <li>
                          <span>chiều dài :</span>
                          <span th:text="${product.dimensionL}"></span>
                        </li>
                        <li>
                          <span>chiều rộng :</span>
                          <span th:text="${product.dimensionW}"></span>
                        </li>
                        <li>
                          <span>chiều cao :</span>
                          <span th:text="${product.dimensionH}"></span>
                        </li>
                        <li>
                          <span>Khối lượng :</span>
                          <span th:text="${product.netWeight}"></span>
                        </li>
                      </ul>
                    </div>
                    <div style="display: flex">
                      <form
                        class="bb-single-qty"
                        method="post"
                        action="/gio-hang/add"
                      >
                        <input
                          hidden
                          class="qty-input"
                          type="text"
                          name="productId"
                          th:value="${product.id}"
                        />
                        <div class="qty-plus-minus">
                          <input
                            class="qty-input"
                            type="text"
                            name="quantity"
                            value="1"
                          />
                        </div>
                        <div class="buttons">
                          <button type="submit" class="bb-btn-2">
                            Lấy báo giá
                          </button>
                        </div>
                      </form>
                      <form
                        th:action="${'/compare/' + product.id}"
                        style="margin-left: 1rem"
                        method="post"
                      >
                        <button class="bb-btn-1">Trình vật liệu</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bey-single-accordion">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Chi tiết
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="bb-details">
                        <div class="details-info">
                          <ul>
                            <li>
                              <span>Chiều dài</span>
                              <span th:text="${product.dimensionL}"></span>
                            </li>
                            <li>
                              <span>Chiều rộng</span>
                              <span th:text="${product.dimensionW}"></span>
                            </li>
                            <li>
                              <span>Chiều cao</span>
                              <span th:text="${product.dimensionH}"></span>
                            </li>
                            <li>
                              <span>Khối lượng</span>
                              <span th:text="${product.netWeight}"></span>
                            </li>
                            <li>
                              <span>Chất liệu</span>
                              <span th:text="${product.material}"></span>
                            </li>
                            <li>
                              <span>Số lượng</span>
                              <span th:text="${product.quantity}"></span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Tài liệu
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="information">
                        <ul>
                          <li
                            th:each="productDocument : ${productDocuments}"
                            style="
                              display: flex;
                              justify-content: space-between;
                            "
                          >
                            <span th:text="${productDocument.title}"></span>
                            <a
                              th:href="${'https://api.sacabanks.vn/uploads/' + productDocument.file}"
                              download
                              class="btn bb-btn-1"
                              >Download</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Bình luận
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="bb-reviews">
                        <div
                          class="reviews-bb-box"
                          th:each="productComment :${productComments}"
                        >
                          <div class="inner-image">
                            <img
                              th:src="${'https://api.sacabanks.vn/uploads/' + productComment.user.avatar}"
                              onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                              alt=""
                            />
                          </div>
                          <div class="inner-contact">
                            <h4 th:text="${productComment.user.username}">
                              Mariya Lykra
                            </h4>
                            <p th:text="${productComment.content}"></p>
                          </div>
                        </div>
                      </div>
                      <div class="bb-reviews-form">
                        <h3>Thêm bình luận</h3>
                        <form action="/product-comment" method="post">
                          <input
                            type="text"
                            name="productId"
                            th:value="${product.id}"
                            hidden
                          />
                          <div class="input-box">
                            <textarea
                              name="content"
                              placeholder="Enter Your Comment"
                            ></textarea>
                          </div>
                          <div class="input-button">
                            <button type="submit" class="bb-btn-2">
                              Thêm bình luận
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Related product section -->
    <section class="section-related-product padding-tb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="section-title bb-center"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div class="section-detail">
                <h2 class="bb-title">Sản phẩm <span>liên quan</span></h2>
                <p>Browse The Collection of Top Products.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="bb-deal-slider">
              <div class="bb-deal-block owl-carousel">
                <div
                  class="bb-deal-card"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                  th:each="product : ${products}"
                >
                  <div class="bb-pro-box">
                    <div class="bb-pro-img">
                      <span class="flags">
                        <span>New</span>
                      </span>
                      <a href="javascript:void(0)">
                        <div class="inner-img">
                          <img
                            class="main-img"
                            th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                            th:alt="${'Product image - ' + product.id}"
                            onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                          />
                          <img
                            class="hover-img"
                            th:src="${'https://api.sacabanks.vn/uploads/' + product.mainPhoto}"
                            th:alt="${'Product image - ' + product.id}"
                            onerror="this.onerror=null; this.src='/static/assets/img/logo/Sacabanks.svg';"
                            alt="product-1"
                          />
                        </div>
                      </a>
                      <ul class="bb-pro-actions">
                        <li class="bb-btn-group">
                          <form
                            th:action="${'/yeu-thich/' + product.id}"
                            method="post"
                          >
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-heart-line"></i>
                            </button>
                          </form>
                        </li>
                        <li class="bb-btn-group">
                          <a th:href="${'/san-pham/' + product.slug}">
                            <i class="ri-eye-line"></i>
                          </a>
                        </li>
                        <li class="bb-btn-group">
                          <form
                            th:action="${'/compare/' + product.id}"
                            method="post"
                          >
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-repeat-line"></i>
                            </button>
                          </form>
                        </li>
                        <li class="bb-btn-group">
                          <form action="/gio-hang/add" method="post">
                            <input
                              type="text"
                              name="quantity"
                              value="1"
                              hidden
                            />
                            <input
                              name="productId"
                              th:value="${product.id}"
                              hidden
                            />
                            <button
                              style="
                                border: none;
                                outline: none;
                                background: transparent;
                              "
                            >
                              <i class="ri-shopping-bag-4-line"></i>
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                    <div class="bb-pro-contact">
                      <div class="bb-pro-subtitle">
                        <a
                          th:href="@{'/san-pham/' + ${product.slug}}"
                          th:text="${product.userProviderName}"
                          >Chocolates</a
                        >
                        <span class="bb-pro-rating">
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-fill"></i>
                          <i class="ri-star-line"></i>
                        </span>
                      </div>
                      <h4 class="bb-pro-title">
                        <a
                          th:href="@{'/san-pham/' + ${product.slug}}"
                          th:text="${product.title}"
                          >Mixed Fruits Chocolates Pack</a
                        >
                      </h4>
                      <div class="bb-price">
                        <div class="inner-price">
                          <span class="new-price" th:text="${product.price}"
                            >$15</span
                          >
                        </div>
                        <span class="last-items">Out of stock</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <a href="#Top" class="back-to-top result-placeholder">
      <i class="ri-arrow-up-line"></i>
      <div class="back-to-top-wrap active-progress">
        <svg viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
      </div>
    </a>

    <!-- Plugins -->
    <script
      th:src="@{/static/assets/js/vendor/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/static/assets/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/jquery.zoom.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/aos.js}"></script>
    <script th:src="@{/static/assets/js/vendor/swiper-bundle.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/smoothscroll.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/slick.min.js}"></script>
    <script
      th:src="@{/static/assets/js/vendor/jquery-range-ui.min.js}"
    ></script>

    <!-- main-js -->
    <script th:src="@{/static/assets/js/main.js}"></script>
    <script th:src="@{/static/assets/js/slider-category-popup.js}"></script>
  </body>
</html>
