<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sacabanks - Construction Material Bank."
    />
    <meta name="keywords" content="" />
    <title>Sacabanks - Construction Material Bank</title>

    <!-- Site Favicon -->
    <link
      rel="icon"
      th:href="@{/static/assets/img/favicon/favicon.ico}"
      type="image/x-icon"
    />

    <!-- Css All Plugins Files -->
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/remixicon.css}"
    />
    <link rel="stylesheet" th:href="@{/static/assets/css/vendor/aos.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/swiper-bundle.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/slick.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/animate.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/assets/css/vendor/jquery-range-ui.css}"
    />

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row bb-breadcrumb-inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="bb-breadcrumb-title">Nhà cung cấp</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul class="bb-breadcrumb-list">
                  <li class="bb-breadcrumb-item">
                    <a href="/">Trang chủ</a>
                  </li>
                  <li><i class="ri-arrow-right-double-fill"></i></li>
                  <li class="bb-breadcrumb-item active">Nhà cung cấp</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-faq padding-tb-50">
      <div class="container">
        <div class="row mb-minus-24">
          <div class="col-12">
            <div
              class="section-title bb-center"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div class="section-detail">
                <h2 class="bb-title">Nhà cung <span>cấp</span></h2>
                <p>Danh sách những nhà cung cấp trong hệ thông Sacabanks.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-24">
            <div
              class="bb-faq-contact"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="600"
            >
              <div class="accordion row">
                <div
                  class="accordion-item col-lg-3 col-sm-6"
                  th:each="item, itemStat : ${suppliers}"
                >
                  <h2
                    class="accordion-header"
                    th:id="'heading' + ${itemStat.index}"
                  >
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      th:data-bs-target="'#collapse' + ${itemStat.index}"
                      th:aria-controls="'collapse' + ${itemStat.index}"
                      th:text="${item.firstLetter}"
                    ></button>
                  </h2>
                  <div
                    th:id="'collapse' + ${itemStat.index}"
                    class="accordion-collapse collapse show"
                    th:aria-labelledby="'heading' + ${itemStat.index}"
                  >
                    <div class="accordion-body">
                      <ul>
                        <li th:each="companyInfo : ${item.companyInfos}">
                          <a
                            th:href="${'/nha-cung-cap/' + companyInfo.id}"
                            th:text="${companyInfo.shortName}"
                          >
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Back to top  -->
    <a href="#Top" class="back-to-top result-placeholder">
      <i class="ri-arrow-up-line"></i>
      <div class="back-to-top-wrap active-progress">
        <svg viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
      </div>
    </a>

    <!-- Plugins -->
    <script
      th:src="@{/static/assets/js/vendor/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/static/assets/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/jquery.zoom.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/aos.js}"></script>
    <script th:src="@{/static/assets/js/vendor/swiper-bundle.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/smoothscroll.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/static/assets/js/vendor/slick.min.js}"></script>
    <script
      th:src="@{/static/assets/js/vendor/jquery-range-ui.min.js}"
    ></script>

    <!-- main-js -->
    <script th:src="@{/static/assets/js/main.js}"></script>
    <script th:src="@{/static/assets/js/slider-category-popup.js}"></script>
  </body>
</html>
